<%- include("./partials/header"); %>


    <!-- Email Body -->
    <tr>
        <span class="preheader">Thanks for trying out [Product Name]. We’ve pulled together some information and
            resources
            to help you get started.</span>
        <td class="email-body" width="570" cellpadding="0" cellspacing="0">
            <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0"
                role="presentation">
                <!-- Body content -->
                <tr>
                    <td class="content-cell">
                        <div class="f-fallback">
                            <h1>Hello there!</h1>
                            <p> We have received a request to reset the password for the account associated
                                with <%-email%>. No changes have been made to your account yet.</p>

                            <p> If you didn't make this request, please ignore this email. If you'd like to proceed,
                                click the link below to reset your password:</p>
                            <!-- Action -->
                            <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0"
                                role="presentation">
                                <tr>
                                    <td align="center">

                                        <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                            role="presentation">
                                            <tr>
                                                <td align="center">
                                                    <a href="<%-resetUrl%>" class="f-fallback button"
                                                        target="_blank">Reset your password</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <p>For reference, here's your login information:</p>
                            <table class="attributes" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                                <tr>
                                    <td class="attributes_content">
                                        <table width="100%" cellpadding="0" cellspacing="0" role="presentation">
                                            <tr>
                                                <td class="attributes_item">
                                                    <span class="f-fallback">
                                                        <strong>Login Page:</strong> {{login_url}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="attributes_item">
                                                    <span class="f-fallback">
                                                        <strong>Username:</strong> {{username}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <p>You've started a {{trial_length}} day trial. You can upgrade to a
                                paying
                                account or cancel any time.</p>
                            <table class="attributes" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                                <tr>
                                    <td class="attributes_content">
                                        <table width="100%" cellpadding="0" cellspacing="0" role="presentation">
                                            <tr>
                                                <td class="attributes_item">
                                                    <span class="f-fallback">
                                                        <strong>Trial Start Date:</strong>
                                                        {{trial_start_date}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="attributes_item">
                                                    <span class="f-fallback">
                                                        <strong>Trial End Date:</strong>
                                                        {{trial_end_date}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <p>If you have any questions, feel free to <a href="mailto:{{support_email}}">email our
                                    customer success
                                    team</a>.
                                (We're lightning quick at replying.) We also offer <a href="{{live_chat_url}}">live
                                    chat</a> during business hours.
                            </p>

                            <%- include('./partials/footer'); %>